<div class="userlist">
    <table>
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Email</th>
            <th>id</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let user of usersList,index as i">
            <td>{{i+1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.id}}</td>

            <td>
                <span><button (click)="editUser(user.id)">Edit</button></span>
                <span><button (click)="deleteUser(user.id)">Delete</button></span>
            </td>
        </tr>
    </table>
    <button type="button" routerLink="/add-user">Add User</button>
</div>