<!-- Template Driven Forms -->


<!-- <div class="header">
        {{isUpdate?'Edit User':'Add User'}}
</div>
<div class="forms">
    <label for="name">Name</label>
    <input type="text" [(ngModel)] ="userName" name="name" id="name">

    <label for="mail">Mail</label>
    <input type="text" [(ngModel)] ="userMail" name="mail" id="mail">

    <button *ngIf="!isUpdate" (click)="addUser()">Add User</button>
    <button *ngIf="isUpdate" (click)="updateUser()">Update User</button>

</div> -->


<!-- Reactive Forms -->

<div [formGroup]="userForm">

    <div>
        <label for="name">Name</label>
        <div>
            <input type="text" formControlName="userName" name="name" id="name">
        </div>
        <div *ngIf="form['userName'].invalid && ( form['userName'].dirty || form['userName'].touched )">
            <div *ngIf="form['userName'].errors?.required">
                Name is required
            </div>
            <div *ngIf="form['userName'].errors?.minlength">
                Name should be length of 4
            </div>
        </div>

    </div>
    <div>
        <label for="mail">Mail</label>
        <div>
            <input type="text" formControlName="userMail" name="mail" id="mail">
        </div>
        <div *ngIf="form['userMail'].invalid && ( form['userMail'].dirty || form['userMail'].touched )">
            <div *ngIf="form['userMail'].errors?.required">
                Email is required
            </div>
            <div *ngIf="form['userMail'].errors?.minlength">
                Email should be length of 4
            </div>
        </div>
    </div>

    <button [disabled]="!form['userName'].value" *ngIf="!isUpdate" (click)="addUser()">Add User</button>
    <button *ngIf="isUpdate" (click)="updateUser()">Update User</button>

</div>