<!-- Template Driven Forms -->


<!-- <div class="header">
        {{isUpdate?'Edit User':'Add User'}}
</div>
<div class="forms">
    <label for="name">Name</label>
    <input type="text" [(ngModel)] ="userName" name="name" id="name">

    <label for="mail">Mail</label>
    <input type="text" [(ngModel)] ="userMail" name="mail" id="mail">

    <button *ngIf="!isUpdate" (click)="addUser()">Add User</button>
    <button *ngIf="isUpdate" (click)="updateUser()">Update User</button>

</div> -->


<!-- Reactive Forms -->

